---
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import { HOME } from "@consts";
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h4 class="animate font-semibold text-black dark:text-white">
      Reintegration Spaces <span
        class="text-xl"
      >
    </h4>
    <div class="space-y-16">
      <h2 class="font-semibold text-black dark:text-white">Index</h2>
      <p>
        For the Transitions Studio led by Dr. Anthony Clarke and Alonso Ortega, I dove deeply into researching those who had been kidnapped or held hostage. I was constantly thinking about the precise moment of release and the flood of emotions, I wondered where did they go the moment they were released? This project sheds light on the importance of that moment of freedom and architecture's role in that moment. 
      </p>
      <p>
        The <b>pages/inline_maps.mdx</b> page (available at <a
          href="/astro-maplibre-template/inline_maps">/inline_maps</a
        >) demonstrates how to create a page with interactive mapstyle that is
        embedded directly in the page, interspersed with text and images.
      </p>
      <p>
        The emotive diagrams (available at <a
        href="/astro-maplibre-template/inline_maps_yaml">/inline_maps_yaml</a>) exhibits the beginning of my work through diagraming the six words I found most powerful in my research. 
      </p>
      <p>The
        `full_page_map.mdx` page (available at <a
          href="/astro-maplibre-template/full_page_map">/full_page_maps</a
        >) demonstrates how to create a full page map.
      </p>
      <p>
        The Handbook (available at <a
          href="/astro-maplibre-template/scrollytelling">/scrollytelling</a
        >)  takes you through a full view of the studio project
      </p>
      <p>
        The <b>pages/full_page_map.mdx</b> page (available at <a
          href="/astro-maplibre-template/full_page_map">/full_page_maps</a
        >) demonstrates how to create a full page map and toggle layers on and
        off.
      </p>
      <p>
        For all types of websites, you can use <a
          href="https://labs.mapbox.com/location-helper/">this mapbox website</a
        > to help you position your map.
      </p>
    </div>
  </Container>
</PageLayout>
